---
import Layout from "../layouts/Layout.astro";
import Intro from "../components/Intro.astro";
import FeaturedCompanies from "../components/FeaturedCompanies.astro";
import Register from "../components/Register.astro";
---

<Layout title="IT Academic Day 2023">
  <main>
    <Intro />
    <FeaturedCompanies />
    <Register />
  </main>
</Layout>
