---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
import Company from "../components/Company.astro";
import Intro from "../components/Intro.astro";
---

<link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0"/>

<Layout title="Welcome to Astro.">
  <main>
    <Navbar />
    <Intro />
    <Company title="Xebia" description="Machine learning lmao"/>
    <Company title="Hued.me" description="C sharp lmao"/>
    <Company title="Google" description="Machine learning lmao"/>
    <Company title="Xebia" description="Machine learning lmao"/>
  </main>
</Layout>

<style>
  * {
    font-size: 16px;
  }
</style>
