---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import Navbar from "../components/Navbar.astro";
import Header from "../components/Header.astro";
import Company from "../components/Company.astro";
import Intro from "../components/Intro.astro";
import CodeWriter from "../components/CodeWriter.astro";
---

<Layout title="IT Academic Day 2023">
  <main>
    <Navbar />
    <Intro />
    <Company title="Xebia" description="Machine learning lmao"/>
    <Company title="Hued.me" description="C sharp lmao"/>
    <Company title="Google" description="Machine learning lmao"/>
    <Company title="Xebia" description="Machine learning lmao"/>
  </main>
</Layout>

<style>
  * {
    font-size: 16px;
    color: #eeeeee;
  }
</style>
