---
import AllCompanies from "../components/AllCompanies.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="ITAD 2023 - Sponsorzy">
  <main>
    <div>
      <h1 class="start-header">Poznaj wszystkich sponsorów!</h1>
    </div>
    <AllCompanies />
  </main>
</Layout>

<style>
  .start-header {
    margin-block: 1em 2em;
    text-align: center;
    font-size: 5em;
  }

  @media screen and (max-width: 900px) {
    .start-header {
      font-size: 3em;
    }
  }
</style>
