---
import {CompanyInfo} from "../content-types";
import AllCompanies from "../components/AllCompanies.astro";
import Layout from "../layouts/Layout.astro";

const companyList: CompanyInfo[] = [
  {
    name: "Xebia",
    logo: "/src/images/Xebia_Logo.png",
    short: "Software house",
    socials: [
      {
        link: "https://www.facebook.com/XebiaPoland",
        icon: "uiw:facebook"
      },
      {
        link: "https://www.linkedin.com/company/xebia",
        icon: "akar-icons:linkedin-fill"
      },
      {
        link: "https://twitter.com/XebiaPoland",
        icon: "akar-icons:twitter-fill"
      },
      {
        link: "https://www.youtube.com/channel/UCQX5YJHjXxgYQ0QX6YQ3Z0Q",
        icon: "akar-icons:youtube-fill"
      }
    ]
  },
  {
    name: "Hued.me",
    logo: "/src/images/HuedMe_Logo.png",
    short: "Dostawca Rozwiązań Technologicznych",
    socials: [
      {
        link: "https://www.facebook.com/hued.me",
        icon: "uiw:facebook"
      },
      {
        link: "https://www.linkedin.com/company/hued-me",
        icon: "akar-icons:linkedin-fill"
      },
      {
        link: "https://twitter.com/hued_me",
        icon: "akar-icons:twitter-fill"
      },
      {
        link: "https://www.youtube.com/channel/UCQX5YJHjXxgYQ0QX6YQ3Z0Q",
        icon: "akar-icons:youtube-fill"
      }
    ]
  },
];
---

<Layout title="ITAD 2023 - Sponsorzy">
  <main>
    <div>
      <h1 class="start-header">Poznaj wszystkich sponsorów!</h1>
    </div>
    <AllCompanies companies={companyList}/>
  </main>
</Layout>

<style>
  .start-header {
    margin-block: 1em 2em;
    text-align: center;
    font-size: 5em;
  }

  @media screen and (max-width: 900px) {
    .start-header {
      font-size: 3em;
    }
  }
</style>
