---
import { Image } from "astro:assets";
import type { AboutInfo } from "../content-types";

import itad from "/src/images/itad.jpg";
import kolo from "/src/images/Kolo.jpg";
import prelegenci from "/src/images/prelegenci.jpg";
import uczestnicy from "/src/images/uczestnicy.jpg";

const aboutSections: Array<AboutInfo> = [
  {
    title: "Czym jest IT Academic Day?",
    content:
      "Jest to wydarzenie corocznie organizowane przez koło naukowe EKA.NET na Politechnice Wrocławskiej. Jeśli jesteś zainteresowany tematyką IT, chcesz poszerzyć swoją wiedzę i poznać nowych ludzi, to jest to wydarzenie dla Ciebie! W ramach wydarzenia odbędą się prelekcje, warsztaty oraz konkursy z nagrodami. Jest to też okazja do rozmów z przedstawicielami firm IT, którzy z chęcią opowiedzą o działalności swoich firm oraz zaproponują oferty pracy i staży.",
      imageSrc: itad,
  },
  {
    title: "O organizatorach",
    content:
      "Koło naukowe EKA.NET jest organizacją studencką działającą na Politechnice Wrocławskiej od 2017 roku. Celem koła jest rozwijanie zainteresowań studentów związanych z branżą IT, głównie wokół technologii .NET i Azure a także organizacja wydarzeń z nią związanych. W ramach koła organizowane są wydarzenia, hackathony oraz wspólne wyjścia na konferencje. Koło jest również odpowiedzialne za coroczną organizację IT Academic Day - największego wydarzenia o tematyce IT na Politechnice Wrocławskiej.",
      imageSrc: kolo,
  },
  {
    title: "6 znanych firm ze świata IT",
    content: "W tym roku zapraszamy 6 prelegentów, którzy podzielą się swoją wiedzą i doświadczeniem z zakresu programowania. Każdy z prelegentów to specjalista w swojej dziedzinie, który z chęcią podzieli się swoją wiedzą z uczestnikami wydarzenia. Tematyki prelekcji będą różnorodne - powiązane z programowaniem, technologiami, a także z zarządzaniem projektami IT.",
    imageSrc: prelegenci,
  },
  {
    title: "Ponad 200 uczestników",
    content: "Tyle właśnie osób uczestniczyło w poprzedniej edycji ITAD! W tym roku chcielibyśmy zobaczyć jeszcze więcej osób, które chcą poszerzyć swoją wiedzę z zakresu IT. Jeśli jesteś zainteresowany tematyką IT, chcesz poszerzyć swoją wiedzę i poznać nowych ludzi, to jest to wydarzenie dla Ciebie!",
    imageSrc: uczestnicy,
  },
];
---

<section class="about">
  {
    aboutSections.map(({ title, content, imageSrc }) => (
      <div class="about-container">
        <Image src={imageSrc} alt="Spotkanie" />
        <div class="about-text-container">
          <h2 class="about-header">{title}</h2>
          <p class="about-desc">{content}</p>
        </div>
      </div>
    ))
  }
</section>

<style>
  .about {
    padding-block: 5rem;

    & > * {
      padding-block: 6rem;
    }

    & > div:nth-child(even) {
      background-color: var(--bg-color);
      color: var(--text-white);
    }
    
    & > div:nth-child(odd) {
      background-color: var(--bg-lighter-color);
      color: var(--text-white);
      flex-direction: row-reverse;
    }
  }

  .about-text-container {
    width: 80%;
    text-align: center;
  }

  .about-header {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .about-desc {
    font-size: 1.3rem;
    padding-inline: 7rem;
    padding-block: 2rem;
  }

  .about-container {
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    height: 60vh;

    & > img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
</style>
