---
import Card from "./Card.astro";
import { Image } from "astro:assets";
import type { CompanyInfo } from "../content-types";

const companies: Array<CompanyInfo> = [
  {
    name: "Xebia",
    description:
      "Firma Xebia to międzynarodowa firma specjalizująca się w obszarze nowych technologii, rozwoju oprogramowania, transformacji cyfrowej i innowacji. Zajmuje się ona szeregiem usług i działań, które pomagają firmom z różnych branż dostosować się do szybko zmieniającego się otoczenia biznesowego i wykorzystać potencjał nowoczesnych technologii.",
    descHeader: "O nas",
    logo: "/src/images/xebia.png",
    short: "Software house"
  },
  {
    name: "Hued.me",
    description:
      "Hued.me to międzynarodowa firma technologiczna specjalizująca się w programowaniu, transformacji cyfrowej i innowacjach. Świadczymy szeroki zakres usług, pomagając firmom z różnych branż dostosować się do dynamicznie zmieniającego się otoczenia biznesowego i wykorzystać potencjał nowoczesnych technologii.",
    descHeader: "O Nas",
    logo: "/src/images/innowacyjnatech.png",
    short: "Dostawca Rozwiązań Technologicznych"
  },
  {
    name: "NexaSoft",
    description:
      "NexaSoft to międzynarodowa firma skupiona na najnowszych technologiach, rozwoju oprogramowania, transformacji cyfrowej i innowacjach. Nasza misja polega na pomaganiu firmom z różnych sektorów w dostosowywaniu się do ciągle ewoluującego otoczenia biznesowego i wykorzystywaniu potencjału zaawansowanych technologii.",
    descHeader: "O Nas",
    logo: "/src/images/nexasoft.png",
    short: "Dostawca Rozwiązań Technologicznych"
  },
];
---

<h3 class="meet-companies center">Wyróżnieni prelegenci!</h3>

<section class="container">
{
  companies.map((company) => (
    <div class="company-container">
      <div class="header-container">
        <div class="header-container">
          <Image
            src="/src/images/pepsi.png"
            alt="pepsi"
            width="125"
            height="100"
          />
          <h1 class="title">{company.name}</h1>
          <div class="header-description">{company.short}</div>
        </div>
      </div>
      <div class="card-container">
        <Card header={company.descHeader} body={company.description} />
      </div>
    </div>
  ))
}
</div>

<style>
  .meet-companies {
    font-size: 4rem;
    letter-spacing: 1px;
    background-color: #250016;
    padding: 5vh;
    margin: 0;
  }

  .container {
    display: flex;
    padding-bottom: 30vh;
    flex-direction: row;
    color: var(--text-color);
  }

  .company-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
  }

  .header-description {
    font-size: 1rem;
  }

  .title {
    font-size: 4rem;
    margin: 0;
  }

  .header-container {
    text-align: center;
  }

  .card-container {
    width: 60%;
  }
</style>
