---
import { Image } from 'astro:assets';
import { Icon } from 'astro-icon';
---

<footer class="center">
  <div>
    <Icon name="facebook"/>
    <Icon name="website"/>
    <a href="https://www.facebook.com/ekadotnet/">
      
    </a>
  </div>
  <h3>EKA.NET 2023</h3>
</footer>

<style>
  footer {
    background-image: linear-gradient(180deg, var(--bg-color) 0%, #140014 100%);
    padding-bottom: 30vh;
    margin-top: 30vh;
  }
  
  [astro-icon] {
      color: white;
  }
</style>