---
import { Image } from 'astro:assets';

interface Props {
  title: string;
  description: string;
}

const {title, description} = Astro.props;
---

<div class="header-container">
  <Image src="/src/images/pepsi.png" alt="pepsi" width="125" height="100"/>
  <h1 class="title">{title}</h1>
  <div class="header-description">{description}</div>
</div>

<style>
  .header-description {
    font-size: 1.2em;
  }

  .title { 
    font-size: 8em;
    margin: 0;
    color: white;
  }
</style>
