---

---

<div class="intro">
  <h1 class="intro-header">IT Academic Day 2023</h1>
</div>

<style>
  .intro {
    color: #fff;
  }

  .intro-header {
    font-size: 6em;
    font-family: monospace;
    margin-left: 5%;
  }
</style>