<script>
  const openMenu = document.querySelector(".open-menu") as HTMLElement;
  const openMenuMobile = document.querySelectorAll(".mobile-open-menu") as NodeListOf<HTMLElement>;
  const pastYears = document.querySelector(".past-years") as HTMLElement;

  openMenu.addEventListener("click", toggleMenu);
  //openMenuMobile.forEach(menu => menu.addEventListener("click", toggleMobileMenu));

  function toggleMenu() {
    if (openMenu.innerText === "close") {
      openMenu.innerText = "menu";
      pastYears.style.opacity = "0";
    } else {
      openMenu.innerText = "close";
      pastYears.style.opacity = "1";
    }
  }

/*  function toggleMobileMenu() {
    const mobileDrawer = document.querySelector(".mobile-drawer") as HTMLElement;
    mobileDrawer.style.transform = mobileDrawer.style.transform === "translateX(-100%)" ? "translateX(0%)" : "translateX(-100%)";
  }*/
</script>

<nav class="navbar">
  <div class="nav-left">
    <div class="mobile-menu">
      <span class="material-symbols-outlined mobile-open-menu">menu</span>

      <div class="mobile-drawer">
        <div class="bold-big mobile-menu-header">
          <span class="material-symbols-outlined mobile-open-menu">menu</span>
          <span>ITAD</span>
        </div>
        <div>EKA.NET</div>
        <div>Sponsorzy</div>
        <div>Rejestracja</div>
        <div class="mobile-prev-years">
          <span class="bold-big">Poprzednie lata</span>
          <ul>
            <li>2022</li>
            <li>2019</li>
            <li>2018</li>
            <li>2017</li>
          </ul>
        </div>
      </div>
       
    </div>
    <a href="/" class="nav-link">ITAD</a>
    <a href="http://www.ekadotnet.pwr.edu.pl" class="nav-link eka">EKA.NET</a>
  </div>
  <div class="nav-right">
    <a href="#" class="nav-link">Rejestracja</a>
    <a href="sponsors" class="nav-link">Sponsorzy</a>
    <div class="menu-container">
      <div class="menu">
        <span>Poprzednie lata</span>
        <span class="material-symbols-outlined open-menu">menu</span>
      </div>
      <ul class="past-years">
        <li>2022</li>
        <li>2019</li>
        <li>2018</li>
        <li>2017</li>
      </ul>
    </div>
  </div>
</nav>

<style>
  .bold-big {
    font-weight: 800;
    font-size: 1.85rem;
  }

  .navbar {
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    color: var(--text-white);
    margin: 20px 30px;
  }

  .navbar > * {
    align-items: center;
  }

  .nav-left {
    display: flex;
    gap: 1rem;
    font-weight: bold;
  }

  .mobile-menu {
    display: none;
  }

  .mobile-menu-header {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .mobile-drawer {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    background-color: #200d1a;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 10px 0 rgba(34, 9, 9, 0.85);
    transform: translateX(-100%);
    transition: transform .5s ease-in-out;
  }

  .mobile-open-menu:hover + .mobile-drawer {
    transform: translateX(0);
  }

  .mobile-drawer > div {
    padding: 1rem 2rem;
  }

  .mobile-prev-years {
    margin-top: 1rem;
    text-align: center;
  }

  .mobile-prev-years > ul {
    list-style: none;
    padding: 0px;
    margin-block: 0.75rem 0rem;
  }

  .mobile-prev-years > ul > li {
    padding-block: 0.25rem;
  }

  .nav-right {
    display: flex;
    gap: 1em;
    justify-content: space-between;
  }

  .menu-container {
    position: relative;
  }

  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }

  .open-menu, .mobile-open-menu {
    cursor: pointer;
    font-size: 1.4em;
  }

  .past-years {
    opacity: 0;
    position: absolute;
    text-align: center;
    list-style: none;
    top: 100%;
    width: 100%;
    left: 0;
    padding: 0;
    transition: all 0.3s ease-in-out;
    margin: 0;
    margin-top: 5px;
    overflow: hidden;
  }

  .past-years > li {
    background-color: rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    margin-bottom: 5px;
    padding: 0.5rem;
  }

  .past-years > li:hover {
    transition: all 0.1s ease-in-out;
    background-color: rgba(0, 0, 0, 0.4);
    cursor: pointer;
  }

  @media screen and (max-width: 900px) {
    .nav-right,
    .eka {
      display: none;
    }

    .mobile-menu {
      display: flex;
    }
  }

  .hidden {
    display: none;
  }
</style>
