<script>
  const openMenu = document.querySelector(".open-menu") as HTMLElement;
  const pastYears = document.querySelector(".past-years") as HTMLElement;
  function toggleMenu() {
    if (openMenu.innerText === "close") {
      openMenu.innerText = "menu";
      pastYears.style.opacity = "0";
    } else {
      openMenu.innerText = "close";
      pastYears.style.opacity = "1";
    }
  }
  openMenu.addEventListener("click", toggleMenu);
</script>

<nav class="navbar">
  <div class="nav-left">
    <span>ITAD</span>
    <span>EKA.NET</span>
  </div>
  <div class="nav-right">
    <div class="menu">
      <span class="previous-year-title">Poprzednie lata</span>
      <span class="material-symbols-outlined open-menu"> menu</span>
    </div>
    <ul class="past-years">
      <li>2022</li>
      <li>2021</li>
      <li>2020</li>
      <li>2019</li>
    </ul>
  </div>
</nav>

<style>
  .navbar {
    display: flex;
    justify-content: space-between;
    font-size: 1.5em;
    color: white;
    margin: 20px 30px;
  }

  .nav-left {
    display: flex;
    gap: 1rem;
    font-weight: bold;
  }

  .nav-right {
    position: relative;
  }
  .menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
  }

  .previous-year-title {
    font-size: 0.8em;
  }

  .open-menu {
    cursor: pointer;
  }

  .past-years {
    opacity: 0;
    position: absolute;
    background-color: rgb(83, 0, 83);
    text-align: center;
    list-style: none;
    top: 100%;
    width: 100%;
    left: 0px;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    transition: all 0.3s ease-in-out;
    margin: 0;
    border-radius: 0.75rem;
    overflow: hidden;
  }

  .past-years > li {
    padding: 0.5rem;
  }

  .past-years > li:hover {
    background-color: rgb(70, 0, 70);
    cursor: pointer;
  }

  .hidden {
    display: none;
  }
</style>
